<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100">
    <div class="max-w-4xl mx-auto py-10">
      <!-- Profile component -->
      <div
        class="h-fit bg-gray-200 dark:bg-gray-800 flex flex-wrap items-center justify-center mb-3 rounded-lg"
      >
        <div
          class="container lg:w-full bg-white shadow-lg transform duration-200 easy-in-out rounded-lg"
        >
          <div class="text-center px-14 mt-6">
            <h2 class="text-gray-800 text-3xl font-bold"><%= user.name %></h2>
            <h3 class="text-gray-400 text-xl mt-2 hover:text-blue-500">
              @<%= user.username %>
            </h3>
            <hr class="mt-6" />
          </div>
        </div>
      </div>

      <!-- Edit Post Form -->
      <div class="bg-white shadow-md rounded-lg p-6 w-full mb-3">
        <h1 class="text-2xl font-bold mb-4">Edit your Post</h1>
        <form action="/edit/<%= post.id %>" method="POST">
          <div class="mb-4">
           
            <textarea
              id="content"
              name="content"
              rows="5"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none"
              placeholder="Update your post ..."
             >  <%= post.content %>  </textarea>
          </div>
          <div class="flex items-center justify-between">
            <button
              type="submit"
              class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >
              Update Post
            </button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
